.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.0);
}
.nav-left{
    width: 137px;
    height: 46px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    &:hover{
        width: 137px;
        height: 46px;
        border: 2px solid #C4F0E5 ;
        border-radius: 25px;
        background: linear-gradient(111deg, rgba(0, 184, 242, 0.40) -8.95%, rgba(76, 175, 245, 0.19) 56.3%, rgba(170, 174, 190, 0.01) 114%);
        backdrop-filter: blur(50px);
        color: #0C0B0B;
        font-size: 14px;
    }

}
.nav-left.active {
    border: 2px solid #C4F0E5;
    background: linear-gradient(111deg, #FBF7F7 -8.95%, rgba(255, 255, 255, 0.01) 114%);
    backdrop-filter: blur(50px);
    color: #0C0B0B;
    font-size: 14px;
}

.nav-right { 
    width: 137px;
    height: 46px;
    border: 2px solid #C4F0E5 ;
    border-radius: 25px;
    background: linear-gradient(111deg, rgba(0, 184, 242, 0.40) -8.95%, rgba(76, 175, 245, 0.19) 56.3%, rgba(170, 174, 190, 0.01) 114%);
    backdrop-filter: blur(50px);
    color: #0C0B0B;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    img {
        margin-right: 12px;
    }
}
