<div class="navbar navbar-expand-lg navbar-dark fixed-top p-3 m-auto">

    <a class="navbar-brand">
        <img
            src="assets/img/logo.png"
            alt="background"
            style="width: 199px; height: 85px;"
            [class.active]="selectedNavItem === 'main'" 
            (click)="toggleselectedOption('main')" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between m-2" id="navbarNav">
        <div class="navbar-nav ml-auto d-flex gap-4 me-5">
            <a class="nav-item nav-link nav-left" [class.active]="selectedNavItem === 'buy-sell'" (click)="toggleselectedOption('buy-sell')">Buy/sell</a>
            <a class="nav-item nav-link nav-left" [class.active]="selectedNavItem === 'manage'" (click)="toggleselectedOption('manage')">Manage</a>
            <a class="nav-item nav-link nav-left" [class.active]="selectedNavItem === 'status'" (click)="toggleselectedOption('status')">Status</a>
        </div>
        <div class="navbar-nav d-flex gap-3">
            <a class="nav-item nav-link nav-right px-2" >
                <img src="assets/img/coin.png" alt=""> 500M$
            </a>
            <a class="nav-item nav-link nav-right profile" >
                <img src="assets/img/profile.png" alt=""> User12345...
            </a>
            <button class="button button--light-primary btn-logout w-30" (click)="logout()">
                <svg
                width="17"
                height="16"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M7.16663 5.33329V3.99996C7.16663 3.64634 7.3071 3.3072 7.55715 3.05715C7.8072 2.8071 8.14634 2.66663 8.49996 2.66663H13.1666C13.5202 2.66663 13.8594 2.8071 14.1094 3.05715C14.3595 3.3072 14.5 3.64634 14.5 3.99996V12C14.5 12.3536 14.3595 12.6927 14.1094 12.9428C13.8594 13.1928 13.5202 13.3333 13.1666 13.3333H8.49996C8.14634 13.3333 7.8072 13.1928 7.55715 12.9428C7.3071 12.6927 7.16663 12.3536 7.16663 12V10.6666"
                    stroke="#0D6EFD"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    />
                <path
                    d="M10.5 8H2.5M2.5 8L4.5 6M2.5 8L4.5 10"
                    stroke="#0D6EFD"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                </svg>
            </button>
        </div>
    </div>
</div>