<div class="card">
  <div class="card-body">
    <img src="assets/img/logo.png" alt="" />
    <h5 class="card-title">Register the account</h5>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="Confirm Password" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="Confirm Password"
          name="Confirm Password"
          placeholder="Confirm Password"
          required
        />
      </div>
      <button class="btn btn-primary mt-3">Register</button>
      <div class="container text-center mt-3">
        <span class="text-light me-2">Already have an account?</span>
        <a routerLink="/auth/login" class="card-link">Login</a>
      </div>
    </form>
  </div>
</div>
