.card {
  border-radius: 25px;
  width: 100%;
  max-width: 498px;
  height: 614px;
  background: linear-gradient(
    111deg,
    rgba(255, 255, 255, 0.4) -8.95%,
    rgba(255, 255, 255, 0.01) 114%
  );
  backdrop-filter: blur(50px) !important;
  padding: 2rem;
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    .card-title {
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      color: #212529;
    }
    .title {
      color: #6c757d;
    }
    .form-control {
      width: 100%;
    }
    form {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}
