<app-inside-bar-user (navItemClicked)="handleNavItemClicked($event)"></app-inside-bar-user>
  

<div class="container-fluid">
  <div class="overlay"></div>
  <img
    src="assets/img/artbreeder-image.png"
    alt="background"
    class="bg-image"
  />

  <ng-container *ngIf="!isActiveStep"> 
    <div class="buy-sell-main row" *ngIf="selectedNavItem === 'main'">
        <div class="col-3  ">
          <img
          src="assets/img/Haabom.png"
          alt="background"
          class="Haabom"
        />
        </div>
        <div class="col-3 ">
          <img
          src="assets/img/Mesnon.png"
          alt="background"
          class="Mesnon"
        />
        </div>
        <div class="col-4 ">
          <div id="pitch">
            <div id="corner-1"></div>
            <div id="corner-2"></div>
            <div id="corner-3"></div>
            <div id="corner-4"></div>
            <div id="strip-1" class="strip-pitch"></div>
            <div id="strip-2" class="strip-pitch"></div>
            <div id="strip-3" class="strip-pitch"></div>
            <div id="strip-4" class="strip-pitch"></div>
            <div id="strip-5" class="strip-pitch"></div>
            <div id="penaltyarea-1">
              <div></div>
              <span></span>
              <p></p>
            </div>
            <div id="centrespot">
              <div></div>
            </div>
            <div id="penaltyarea-2">
              <p></p>
              <div></div>
              <span></span>
            </div>
            <div id="players">
              <div id="GK-1" class="player"><p class="text-dark  ">GK</p></div>
              <div id="LB-2" class="player"><p>LB </p></div>
              <div id="CB-3" class="player"><p>CB</p></div>
              <div id="CB-4" class="player"><p>CB</p></div>
              <div id="RB-5" class="player"><p>RB</p></div>
              <div id="CB-6" class="player"><p>CB</p></div>
              <div id="CB-7" class="player"><p>CB</p></div>
              <div id="CB-8" class="player"><p>CB</p></div>
              <div id="CB-9" class="player"><p>CB</p></div>
              <div id="CB-10" class="player"><p>CB</p></div>
              <div id="ST-11" class="player"><p>ST</p></div>
            </div>
          </div>
        </div>
      </div>
    <app-buy-and-sell class="buy-sell" *ngIf="selectedNavItem === 'buy-sell'"></app-buy-and-sell>
    <app-manage *ngIf="selectedNavItem === 'manage'"></app-manage>
    <app-status *ngIf="selectedNavItem === 'status'"></app-status>
  </ng-container>
</div>

