
<div class="d-flex justify-content-center">
  <h1 class="h">Football Transfer Market</h1>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="d1 position-relative">
          <b class="p1">นักเตะของคุณ</b>
          <div class="row mt-4">
            <div class="col">Name<img src="assets/img/fa.png"alt="ชื่อ"class="fa"></div> 
            <div class="col">Position<img src="assets/img/fa.png"alt="ชื่อ"class="fa"></div>
            <div class="col">Skills<img src="assets/img/fa.png"alt="ชื่อ"class="fa"></div>
            <div class="col">Nationality</div>
            <div class="col">Sell</div>
          </div>
          <div class="row mt-2">
            <div class="col"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Pedo
              </label>
            </div></div>
            <div class="col">หน้า</div>
            <div class="col">อึด</div>
            <div class="col">Spain</div>
            <div class="col">100M</div>
          </div>
          <button type="button" class="btn btn-danger position-absolute bottom-0 start-50 translate-middle-x mb-3"><img src="assets/img/co.png"alt="ชื่อ"class="fa"> Sell</button>
        </div>
      </div>
      <div class="col">
        <div class="d2 position-relative">
          <b class="p2">ค้นหานักเตะ</b>
          <div class="row mt-4">
            <div class="col"><div class="form-outline">
              <input style="width: 90px;" type="search" id="form1" class="form-control" placeholder="Name" aria-label="Search" />
            </div></div>
            <div class="col"><div class="dropdown">
              <button class="dropbtn">Position▾</button>
              <div class="dropdown-content">
              <a href="#">หน้า</a>
              <a href="#">กลาง</a>
              <a href="#">หลัง</a>
              <a href="#">ประตู</a>
              </div>
            </div></div>
            <div class="col "><div class="dropdown">
              <button class="dropbtn">Skills▾</button>
              <div class="dropdown-content">
              <a href="#">จ่ายบอลเก่ง</a>
              <a href="#">อึด</a>
              <a href="#">ไหวพริบดี</a>
              <a href="#">วิ่งโหด</a>
              </div>
            </div></div>
            <div class="col"><button type="button" class="btn btn-info">ค้นหา</button></div>
          </div>
          <div class="row mt-3">
            <div class="col ms-2">Name<img src="assets/img/fa.png"alt="ชื่อ"class="fa"></div>
            <div class="col">Position<img src="assets/img/fa.png"alt="ชื่อ"class="fa"></div>
            <div class="col">Skills<img src="assets/img/fa.png"alt="ชื่อ"class="fa"></div>
            <div class="col">Nationality</div>
            <div class="col">Sell</div>
          </div>
          <div class="row mt-2">
            <div class="col"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                oreo
              </label>
            </div></div>
            <div class="col">หลัง</div>
            <div class="col">อึด</div>
            <div class="col">Spain</div>
            <div class="col">200M</div>
          </div>
          <div class="row">
            <div class="col"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                oreo1
              </label>
            </div></div>
            <div class="col">หลัง</div>
            <div class="col">อึด</div>
            <div class="col">Thailand</div>
            <div class="col">200M</div>
          </div>
          <button type="button" class="btn btn-success position-absolute bottom-0 start-50 translate-middle-x mb-3"><img src="assets/img/Vector.png"alt="ชื่อ"class="fa">Buy</button>
        </div>
      </div>
    </div>
  </div>