<div class="row justify-content-around  ">
        <div class="container-fluid " >
            <h1 class="bg-white d-flex justify-content-center mt-4">Status</h1>
            <div class="row  ms-4 bg-white mt-5">
                <div class="col">Name</div>
                <div class="col">Position</div>
                <div class="col">Team</div>
                <div class="col">Nationality</div>
                <div class="col">Treading status</div>
              </div>
              <div class="row  ms-4 bg-white mt-3">
                <div class="col">oreo</div>
                <div class="col">หลัง</div>
                <div class="col">none</div>
                <div class="col">spain</div>
                <div class="col">none</div>
              </div>
              <div class="row  ms-4 bg-white mt-3">
                <div class="col">oreo1</div>
                <div class="col">หลัง</div>
                <div class="col">none</div>
                <div class="col">Thailand</div>
                <div class="col">none</div>
              </div>
        </div>