<div class="row justify-content-around  ">
        <div class="container-fluid " >
            <h1 class=" d-flex justify-content-center mt-4">Status</h1>
            <div class="row  ms-4  mt-5">
                <div class="col">Name<img
                  src="assets/img/fa-solid_sort.png"
                  alt="ชื่อ"
                  class="fa-solid_sort ms-1"></div>
                <div class="col">Position<img
                  src="assets/img/fa-solid_sort.png"
                  alt="ชื่อ"
                  class="fa-solid_sort ms-1"></div>
                <div class="col">Team<img
                  src="assets/img/fa-solid_sort.png"
                  alt="ชื่อ"
                  class="fa-solid_sort ms-1"></div>
                <div class="col">Nationality<img
                  src="assets/img/fa-solid_sort.png"
                  alt="ชื่อ"
                  class="fa-solid_sort ms-1"></div>
                <div class="col">Treading status<img
                  src="assets/img/fa-solid_sort.png"
                  alt="ชื่อ"
                  class="fa-solid_sort ms-1"></div>
              </div>
              <div class="row  ms-4  mt-3">
                <div class="col">oreo</div>
                <div class="col">หลัง</div>
                <div class="col">none</div>
                <div class="col">spain</div>
                <div class="col">none</div>
              </div>
              <div class="row  ms-4  mt-3">
                <div class="col">oreo1</div>
                <div class="col">หลัง</div>
                <div class="col">none</div>
                <div class="col">Thailand</div>
                <div class="col">none</div>
                

              </div>
        </div>