.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  min-width: 180px;
  border: none;
  cursor: pointer;
  border-radius: 2%;
}


.dropdown {
  position: relative;
  display: inline-block;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.432);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

.card {
    border-radius: 25px;
    width: 100%;
    max-width: 498px;
    height: 614px;
    background: linear-gradient(
      111deg,
      rgba(255, 255, 255, 0.4) -8.95%,
      rgba(255, 255, 255, 0.01) 114%
    );
    backdrop-filter: blur(50px) !important;
    padding: 2rem;
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      .card-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 100;
        line-height: 120%;
        color: #212529;
      }
      .title {
        color: #6c757d;
      }
      .form-control {
        width: 100%;
      }
      form {
        width: 100%;
        .btn {
          width: 100%;
        }
      }
    }
  }
.stadium{
  width: 500px;
  
}
.player{
  width: 70px; 
}
