/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #001533;
}

h2,
p,
.pagination,
.table {
  margin-bottom: 0;
}

h2 {
  font-weight: 600;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  justify-content: center;
  background-color: transparent;
}

.button--icon {
  padding: 0;
}

.button.button--primary {
  background-color: #0d6efd;
  color: white;
}

.button.button--light-primary {
  background-color: #ebf3ff;
  color: #0d6efd;
}

.button.button--secondary {
  background-color: #4a5f7d;
  color: white;
}

.search-bar {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-bar > input {
  width: 200px;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.search-bar > input::placeholder {
  color: #c5d1e2;
}

.table-wrapper {
  background-color: white;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

td {
  vertical-align: middle;
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.table > :not(caption) > * > * {
  padding: 1rem;
  border-color: #f5f5f5;
}

.form-label--required::after {
  content: "*";
  color: red;
  margin-left: 0.25rem;
}
