<div class="card">
  <div class="card-body">
    <img src="assets/img/logo.png" alt="" />
    <h5 class="card-title">Log in to your account</h5>
    <span class="title">Welcome back! Please enter your details.</span>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="form-check mt-4">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>
      <button class="btn btn-primary mt-3" (click)="login()">Login</button>
      <div class="container text-center mt-3">
        <span class="text-light me-2">Don’t have an account?</span>
        <a routerLink="/auth/register" class="card-link">Register</a>
      </div>
    </form>
  </div>
</div>
